[submodule "tools/esptool"]
	path = tools/esptool
	url = https://github.com/espressif/esptool.git
[submodule "micropythonexamples"]
	path = micropythonexamples
	url = https://github.com/cloudymike/micropythonexamples.git
