[submodule "tools/esptool"]
	path = tools/esptool
	url = https://github.com/espressif/esptool.git
[submodule "micropythonexamples"]
	path = micropythonexamples
	url = https://github.com/cloudymike/micropythonexamples.git
[submodule "webrepl"]
	path = webrepl
	url = git@github.com:micropython/webrepl.git
