[submodule "tools/esptool"]
	path = tools/esptool
	url = https://github.com/espressif/esptool.git
[submodule "micropythonexamples"]
	path = micropythonexamples
	url = https://github.com/cloudymike/micropythonexamples.git
[submodule "3dprint/scadexamples"]
	path = 3dprint/scadexamples
	url = git@github.com:cloudymike/scadexamples
