<html>
    <head>
      {% if title %}
      <title>{{ title }} - Fermentation Controller</title>
      {% else %}
      <title>Welcome to the Fermentation Controller</title>
      {% endif %}
      <style>html{font-family: Helvetica; display:inline-block; margin: 0px auto; text-align: center;}
        p{font-size: 4rem;}
        a{font-size: 2rem;}
        form{font-size: 4rem;}
        input, select, textarea {font-size: 4rem;}
        input[type=radio] {
            border: 1px;
            width: 25%;
            height: 2rem;
            text-align: left;
        }

      </style>
    </head>
    <body>
        <div>
            <a href="index">Home</a><a> </a><a> </a>
            <a href="cmd">Command</a><a> </a><a> </a>
            <a href="target">Set Target</a><a> </a><a> </a>
            <a href="displaytemp">Status</a>
        </div>
        <hr>
        {% block content %}{% endblock %}
    </body>
</html>
