{% extends "base.html" %}

{% block content %}
<form method="POST" action="/profile">
  {{ form.hidden_tag() }}
  Day {{ form.targetDay0(size=3, value="0") }}
  Temp {{ form.targetTemp0(size=3, value=profile['0']) }}<br>
  Day {{ form.targetDay1(size=3, value=" ") }}
  Temp {{ form.targetTemp1(size=3, value=" ") }}<br>
  Day {{ form.targetDay2(size=3, value=" ") }}
  Temp {{ form.targetTemp2(size=3, value=" ") }}<br>
  Day {{ form.targetDay3(size=3, value=" ") }}
  Temp {{ form.targetTemp3(size=3, value=" ") }}<br>
  Day {{ form.targetDay4(size=3, value=" ") }}
  Temp {{ form.targetTemp4(size=3, value=" ") }}<br>
  {{ form.submit() }}
</form>

{% endblock %}
