{% extends "base.html" %}

{% block content %}
<form method="POST" action="/profile">
  {{ form.hidden_tag() }}
  Day {{ form.targetDay0(size=3, value=sorted_profile_days[0]) }}
  Temp {{ form.targetTemp0(size=3, value=profile[sorted_profile_days[0]]) }}<br>
  Day {{ form.targetDay1(size=3, value=sorted_profile_days[1] if sorted_profile_days|length > 1 else ' ' ) }}
  Temp {{ form.targetTemp1(size=3, value=profile[sorted_profile_days[1]] if sorted_profile_days|length > 1 else ' ' )}}<br>
  Day {{ form.targetDay2(size=3, value=sorted_profile_days[2] if sorted_profile_days|length > 2 else ' ' ) }}
  Temp {{ form.targetTemp2(size=3, value=profile[sorted_profile_days[2]] if sorted_profile_days|length > 2 else ' ' ) }}<br>
  Day {{ form.targetDay3(size=3, value=sorted_profile_days[3] if sorted_profile_days|length > 3 else ' ') }}
  Temp {{ form.targetTemp3(size=3, value=profile[sorted_profile_days[3]] if sorted_profile_days|length > 3 else ' ' ) }}<br>
  Day {{ form.targetDay4(size=3, value=sorted_profile_days[4] if sorted_profile_days|length > 4 else ' ') }}
  Temp {{ form.targetTemp4(size=3, value=profile[sorted_profile_days[4]] if sorted_profile_days|length > 4 else ' ' ) }}<br>
  
  <br>
  Finish on day {{ form.finishDay(size=3, value=finishDay) }}<br>
  Clearing agent on day {{ form.clearingagent(size=3, value=clearingagent) }}  (0 for none)<br>
  <br>
  {{ form.submit() }}
</form>

{% endblock %}
