{% extends "base.html" %}

{% block content %}
    <h1>Run Command</h1>
    <style>
      html{text-align: left;}
    </style>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
{% for subfield in form.cmd %}
        {{ subfield }}
        {{ subfield.label }}<br>
{% endfor %}

            {% for error in form.cmd.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}

        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
